extends layout

block content
  .container
    .row 
      .col-1
      .col-8
        ul.index-posts 
          li.index-post 
            a(href="/posts") 
              p.index-post__author
                span Dec.07.2021 
                span 정지원
              h2.index-post__title Aurora MySQL vs Aurora PostgreSQL 
              p.index-post__description MySQL의 한계를 PostgreSQL로 극복할 수 있을까?
          each post in posts 
            li.index-post 
              a(href=`/posts/${post.id}`) 
                p.index-post__author
                  span.mr-2= post.createdAt.toLocaleDateString()
                  if (post.author && post.author.name)
                    span= post.author.name
                  else 
                    span anonymous
                h2.index-post__title= post.title
                p.index-post__description= post.description 
      .col-2
        ul.index-tags.text-info Tag
          li.index-tag.text-dark 우아한테크코스 (17)
          li.index-tag.text-dark 우아한테크캠프 (15)
          li.index-tag.text-dark onboarding (11)
      .col-1
