extends layout

block content
  .container
    .row 
      .col-1
      .col-8
        ul.index-posts 
          each post in posts 
            li.index-post 
              a(href=`/posts/${post.id}`) 
                p.index-post__author
                  span.mr-2= post.createdAt.toLocaleDateString()
                  if (post.author && post.author.name)
                    span.mr-2= post.author.name
                    img.avatar(src= post.author.avatar)
                  else 
                    span 익명
                h1.mb-3.index-post__title= post.title
                h6.index-post__description= post.description 
      .col-2
        ul.index-tags.text-info Tag
          li.index-tag.text-dark 우아한테크코스 (17)
          li.index-tag.text-dark 우아한테크캠프 (15)
          li.index-tag.text-dark onboarding (11)
      .col-1
