extends layout 

block head 
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js") 
    script hljs.highlightAll();

block content 
    .container.post
        .row 
            .col-1
            .col-10
                //- post
                .mb-2
                    if (user && user.id === post.author.id)
                        a.mr-3(href=`/posts/edit/${post.id}`) Edit
                        form.post-delete.d-inline(action=`/posts/${post.id}?_method=DELETE`, method="post") 
                            a.post-delete__anchor(href='') Delete
                .mb-3 Tag: #{post.tag}
                h1.post-title= post.title 
                .post-info.mb-4
                    span.mb-2.mr-2= post.createdAt.toLocaleDateString()
                    if (post.author)
                        span.mr-2= post.author.name
                        img.avatar(src=`${post.author.avatar}`)
                    else
                        span.mr-2 익명
                    h6.mt-2= post.description
                .post-markdown !{post.sanitizedHTML}

                //- comment
                include comment.pug
                
            .col-1
    if (user && user.id === post.author.id)
        script(src="/javascripts/posts.js") 
    script(src="/javascripts/comments.js") 


